p{
    font-family: $raleway;
    color:$black;
    font-size: $x-small;
}

h2{
    font-size: $medium;
    color: $black;
}

h3{
    font-size: $small;
    color:$black;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}
